body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input {
    padding: 6px 10px;
    width: 200px;
    font-size: 1em;
}
